body{
    text-align: center;
    background-color:blue;
    font-family: 'Roboto Condensed', sans-serif;
}
#s{
    background-color:green;
}

#copy-right-footer{
position: fixed;
color: black;
line-height: 3%;
text-align: center;
bottom: 0px;
width: 100%;
background-color: white;
font-size: 12px;

}